
<div class="mb-3">
    @if(OnAdd.HasDelegate)
    {
        <button class="btn btn-primary me-2" @onclick="OnAdd">New Item</button>
    }
    @if (OnSearch.HasDelegate)
    {
        <button class="btn btn-secondary me-2" @onclick="OnSearch">Search</button>
    }
    @if (OnReset.HasDelegate)
    {
        <button class="btn btn-danger me-2" @onclick="OnReset">Reset</button>
    }
</div>

@code {
    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter]
    public EventCallback OnSearch { get; set; }

    [Parameter]
    public EventCallback OnReset { get; set; }
}
